<div ng-include="'products/products-category-template.html'"></div>

<div class="container">
    
   
    <ul class="-fx-image-gal">
        <li class="-fx-gal-item" ng-repeat="item in products | filter: {title:searchtitle}">
        <div class="card">
            <img src="{{item.image}}" alt="">
            <h5 style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{item.title}}</h5>
            <p style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{item.description}}</p>
            <p><strong>Price:</strong>${{item.price}}</p>
         <button class="btn btn-primary" ng-click="addtocart(item)">Add to Cart</button>
        </div>
    </li>
</ul>

</div>